# tmp
backup

# common
node_modules
jspm_packages
.DS_Store
.env

# client
client/dist
## Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
## Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# server
.serverless
server/send_message_to_line_bot/config/*
server/bearer_authentication/config/*
!.gitkeep
