.top-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F8F9F9;
}

.top-text-area {
  width: 50%;
  padding-right: 3%;
  padding-left: 10%;
}

.top-img {
  width: 50%;
  height: 70vh;
  background-image: url(~@/assets/png/site_top.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.top-title {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: .05em;
}

@media screen and (max-width: 767px) {
  .top-container {
    flex-direction: column-reverse;
  }

  .top-text-area {
    width: 100%;
    padding-left: 8%;
  }

  .top-img {
    width: 100%;
    height: 30vh;
    margin-bottom: 20px;
  }

  .top-title {
    font-size: 32px;
  }
}
