.skill-container > p {
  color: black;
  font-size: 14px;
  margin-bottom: 8px;
}

.skill-capability {
  display: inline-block;
  padding: 1px 3px;
  margin: 3px;
  color: var(--v-accent-dark-base);
  border: 1px solid var(--v-accent-dark-base);
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.color-accent {
  color: var(--v-accent-base);
}

.skill-container-header {
  margin: 0 1%;
}

.skill-container-header div {
  float: left;
}

.skill-container-header svg {
  fill: var(--v-accent-base);
  width: 80%;
  height: auto;
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.icon-box {
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--v-accent-base);
}

.icon-title {
  width: 80%;
}

.title-box {
  font-size: 22px !important;
  padding-left: 8px;
  height: 40px;
}

.title-box p {
  margin: 0 !important;
  font-weight: bold;
  line-height: 40px;
}

.icon-box::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
