

/* .message-contact {
    display: flex;
    align-items: center;
}

.message_contact-text {
    width: 50%;
}

.message_contact-form {
    width: 50%;
} */

.clearfix::after {
   content: "";
   display: block;
   clear: both;
}

.common_sub-header::before {
    content: "";
    border-left: 4px solid var(--v-accent-base);
    padding-right: 15px;
}

.common_w-30 {
    width: 30%;
}

p {
    white-space: pre-line;
}

/* about me */
.profile-container {
    width: 100%;
    box-shadow: 0 5px 25px 0 rgba(4, 76, 100, .2);
    border-radius: 10px;
    min-height: 200px;
    /* min-height: 300px; */
}

.profile-left-contents {
    padding: 10px;
    float: left;
    background-color: var(--v-main-base);
    height: 100%;
    width: 30%;
    border-radius: 10px 0 0 10px;
    border-right: 8px solid var(--v-accent-base);
    color: white;
}

.profile-left-contents h3 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 900;
}

.profile-left-contents p {
    display: block;
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    color: var(--v-accent-dark-base);
    font-weight: bold;
}

.profile-right-contents {
    width: 70%;
    height: 100%;
    float: left;
}

.profile-icon-box {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto 20px auto;
    border: 3px solid var(--v-sub-base);
}

.profile-context-box {
    margin-top: 25px;
}

.profile-strengthFinder-area {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5%;
}

.profile-sns-area {
    width: 35%;
    height: 100%;
    float: left;
}

.profile-sns-area .sns-icon {
    width: 40px;
    height: 40px;
}

.sns-icon {
    background-color: var(--v-sub-base);
    border-radius: 50%;
    float: left;
    padding: 2px;
    margin-right: 20px;
    margin-right: 10%;
    text-align: center;
}

.sns-icon svg {
    width: 100%;
    height: 100%;
    fill: white;
}

.sns-icon:hover {
    -webkit-box-shadow: 0 1px 2px #666;
    box-shadow: 0 1px 2px #666;
}


.sns-icon:last-child {
    margin-right: 0;
}

.profile-strengthFinder-area p {
    display: block;
    float: left;
    width: 130px;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--v-sub-base);
    margin-right: 28px;
}

.profile-strengthFinder-area p:last-child {
    margin-right: 0;
}


.profile-strengthFinder-area h4,
.profile-sns-area h4 {
    width: 100%;
    display: block;
    padding-bottom: 2px;
    background-color: var(--v-main-base);
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 auto 30px auto;
}

.strengthFinder-rank {
    width: 46px;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    color: white;
    background-color: var(--v-accent-dark-base);
    border-radius: 6px;
    text-align: center;
}

.rank-top {
    background-color: var(--v-accent-base);
}

.history-container {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 25px 0 rgba(4, 76, 100, .2);
    border-radius: 10px;
    padding: 15px;
}

.history-container h3 {
    color: var(--v-main-base);
    margin-bottom: 10px;
}

.history-container span {
    display: inline-block;
    padding: 4px 6px;
    background-color: var(--v-accent-dark-base);
    color: white;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 10px;
}

/* skill */
#skill .v-btn__content {
    display: inline-block;
}

#skill .v-btn:not(.v-btn--round).v-size--default {
    min-height: 400px;
}

#skill .skill-container {
    background-color: white;
    border-top: solid 10px var(--v-sub-base);
    box-shadow: 0 5px 25px 0 rgba(4, 76, 100, .2);
    color: var(--v-main-base);
    padding: 1%;
    border-radius: 10px;
    height: 100%;
}

.page-sub-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.0rem;
    color: var(--v-main-base);
    margin: 10px 0;
}

.page-sub-title::before {
    display: inline-block;
    content: '◼️';
    color: var(--v-accent-base);
    margin-right: 4px;
}

.page-sub-introduction {
    color: #666;
    text-align: center;
    font-size: 14px;
}

#skill .skill-container .skill-container-header svg {
    fill: var(--v-accent-base);
    width: 80%;
    height: auto;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: white; */
    /* padding: 1%; */
}

.skill-container > p {
    color: black;
    font-size: 14px;
    margin-bottom: 8px;
}

#skill > .container > span {
    color: var(--v-main-base);
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
}

.project-container {
    height: 100%;
    margin: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.project-container > img {
    border-radius: 10px 10px 0 0;
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--v-main-base);
}

.project-text {
    color: #666;
    font-size: 14px;
    margin: 0;
}

.project-date {
    text-align: right;
    font-size: 14px;
}

.skill-capability {
    display: inline-block;
    padding: 1px 3px;
    margin: 3px;
    color: var(--v-accent-dark-base);
    border: 1px solid var(--v-accent-dark-base);
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

.color-accent {
    color: var(--v-accent-base);
}

#skill .container-header {
    margin: 0 1%;
}

#skill .container-header div {
    float: left;
}

#skill .container-header svg {
    fill: var(--v-accent-base);
    width: 80%;
    height: auto;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#skill .container-header .icon-box {
    width: 40px;
    position: relative;
    border-radius: 50%;
    background-color: white;
    border: 1px solid var(--v-accent-base);
}

#skill .container-header .title-box {
    font-size: 22px !important;
    padding-left: 8px;
    height: 40px;
}

#skill .container-header .title-box p {
    margin: 0 !important;
    font-weight: bold;
    line-height: 40px;
}

#skill .container-header .icon-title {
    width: 80%;
}

.icon-box::before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.work_work-btn {
    width: 98%;
    min-height: 200px;
    background-color: white !important;

    word-wrap: break-word;
    -webkit-box-shadow: 0 3px 20px rgba(46,46,46,.1);
    box-shadow: 0 3px 20px rgba(46,46,46,.1);
    border-radius: 10px;
    overflow: hidden;
    /* background-color: #fff; */
}

.work_work-btn-content {
    text-align: left;
}
.work_work-btn-content-title {
    font-size: 1.2rem;
}

.work_work-btn .v-btn__content {
    width: 100%;
}

.work_work-btn .v-btn__content img {
    width: 100%;
}

/* contact */
.contact_post-link::before, .post-link:active {
    background-color: transparent !important;
}

.contact_post-link {
    display: inline-block;
    word-break: break-all;
    padding: 2px 8px;
    border-radius: 5px;
    text-transform: none !important;
    white-space: normal;
    max-width: calc(100% - 30px);
    height: inherit !important;
}

.contact-sns-area {
    width: 100%;
    height: 100%;
    float: left;

}

.contact-sns-area .sns-icon {
    width: 50px;
    height: 50px;
}

#contact .message-baddie {
    display: inline-block;
    padding: 2px 6px;
    background-color: var(--v-sub-base);
    color: white;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 10px;
}

/* vuetify */
.theme--light.v-timeline .v-timeline-item__dot {
    box-shadow: 0 3px 10px 0 rgba(4, 76, 100, .2);
    background:rgba(238, 238, 238);
}

.theme--light.v-input input, 
.theme--light.v-input textarea, 
.v-btn:not(.v-btn--round).v-size--default {
    font-family: "BIZ UDPGothic", "Meiryo UI", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif !important;
}

/* responsive */

/* about me */

@media (max-width: 1280px) {
    .profile-strengthFinder-area {
      width: 90%;
      margin: 0 5%;
    }
    .profile-sns-area {
        width: 90%;
        margin: 0 5%;
    }
}

@media (max-width: 960px) {
    .profile-left-contents {
        width: 100%;
        float: none;
        border-radius: 10px 10px 0 0;
        border-right: 0;
        border-bottom: 8px solid var(--v-accent-base);
        height: auto;
    }
    .profile-right-contents {
        width: 100%;
        float: none;
    }

}

@media (max-width: 600px) {
    /* .profile-strengthFinder-area {
        width: 80%;
        margin: 0 10%;
    } */
    /* .profile-strengthFinder-area p {
        width: 100px;
        text-align: center;
    } */

    .strengthFinder-rank {
        display: block;
        width: 100%;
        padding: 0 10px;
    }

    .profile-strengthFinder-area {
        width: 100%;
        margin: 0 auto;
    }
    
    .profile-strengthFinder-area p {
        float: none;
        margin: 0 auto 16px auto;
        text-align: center;
        width: 60%;
        min-width: 160px;
    }

    .profile-strengthFinder-area p:last-child {
        margin: 0 auto 16px auto;
    }

    .profile-sns-area {
        width: 100%;
        margin: 0 auto;
    }

    
    .sns-icon {
        margin-right: 3%;
    }
}

@media (max-width: 450px) {

}
